In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
from imblearn.over_sampling import RandomOverSampler

In [5]:
df=pd.read_csv('ParisHousingClass.csv')

In [6]:
df['category']=df['category'].map({'Luxury':1,'Basic':0})
cols= df.columns.tolist()
df.head()

,squareMeters,numberOfRooms,hasYard,hasPool,floors,cityCode,cityPartRange,numPrevOwners,made,isNewBuilt,hasStormProtector,basement,attic,garage,hasStorageRoom,hasGuestRoom,price,category
0,75523,3,0,1,63,9373,3,8,2005,0,1,4313,9005,956,0,7,7559081.5,0
1,80771,39,1,1,98,39381,8,6,2015,1,0,3653,2436,128,1,2,8085989.5,1
2,55712,58,0,1,19,34457,6,8,2021,0,0,2937,8852,135,1,9,5574642.1,0
3,32316,47,0,0,6,27939,10,4,2012,0,1,659,7141,359,0,3,3232561.2,0
4,70429,19,1,1,90,38045,3,7,1990,1,0,8435,2429,292,1,4,7055052.0,1

In [8]:
train,test,valid=np.split(df.sample(frac=1),[int(0.6*len(df)),int(0.8*len(df))])
train

/opt/anaconda3/lib/python3.11/site-packages/numpy/core/fromnumeric.py:59: FutureWarning: 'DataFrame.swapaxes' is deprecated and will be removed in a future version. Please use 'DataFrame.transpose' instead.
  return bound(*args, **kwds)

,squareMeters,numberOfRooms,hasYard,hasPool,floors,cityCode,cityPartRange,numPrevOwners,made,isNewBuilt,hasStormProtector,basement,attic,garage,hasStorageRoom,hasGuestRoom,price,category
5933,28605,2,0,1,25,63712,7,6,2003,1,1,1624,1800,492,0,1,2866459.3,0
765,67663,1,1,0,49,17835,2,10,2014,0,1,7856,4653,725,1,2,6775397.4,0
4650,1906,16,0,0,30,9172,1,10,2006,0,1,1576,3923,883,0,7,192160.6,0
619,30572,24,0,0,56,32061,3,9,2008,0,0,171,2208,401,1,2,3058110.8,0
3472,4456,65,1,0,79,14188,2,10,2015,0,1,9586,8645,745,1,2,451747.5,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1098,86614,65,0,1,63,15680,10,6,1996,0,1,1472,8750,919,1,1,8671187.6,0
9470,97863,31,1,0,38,11088,2,8,1992,1,1,1887,2659,321,1,4,9794827.2,0
1788,73080,96,1,0,28,17491,3,2,1990,0,1,2800,3779,687,1,2,7311244.0,0
7690,34341,31,0,1,58,60068,1,1,1990,1,0,7361,1398,773,1,6,3438239.0,0
6373,51744,59,0,1,7,260,8,5,2006,1,1,680,7528,351,0,10,5179860.6,0

In [9]:
def scale_dataset(dataframe,oversample=False):
    x=dataframe[dataframe.columns[0:-1]].values
    y=dataframe[dataframe.columns[-1]].values
    scalar=StandardScaler()
    x=scalar.fit_transform(x)
    data=np.hstack((x,np.reshape(y,(-1,1))))
    if oversample:
        ros=RandomOverSampler()
        x,y=ros.fit_resample(x,y)
    return data,x,y

In [10]:
train,x_train,y_train=scale_dataset(train,oversample=True)
test,x_test,y_test=scale_dataset(test,oversample=False)
valid,x_valid,y_valid=scale_dataset(valid,oversample=False)

LOGISTIC REGRESSION

In [14]:
from sklearn.linear_model import LogisticRegression
logic_model=LogisticRegression()
logic_model.fit(x_train,y_train)
y_pred=logic_model.predict(x_test)
print(classification_report(y_pred,y_test))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00      1745
           1       1.00      1.00      1.00       255

    accuracy                           1.00      2000
   macro avg       1.00      1.00      1.00      2000
weighted avg       1.00      1.00      1.00      2000

SVM MODEL

In [15]:
from sklearn.svm import SVC
svm_model=SVC()
svm_model.fit(x_train,y_train)
y_pred=svm_model.predict(x_test)
print(classification_report(y_pred,y_test))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00      1745
           1       1.00      1.00      1.00       255

    accuracy                           1.00      2000
   macro avg       1.00      1.00      1.00      2000
weighted avg       1.00      1.00      1.00      2000

In [17]:
import tensorflow as tf

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

# Assuming X_train, X_test, y_train, y_test are already prepared

# Initialize Neural Network model
model = tf.keras.Sequential([
    tf.keras.layers.Dense(64, activation='relu', input_shape=(x_train.shape[1],)),
    tf.keras.layers.Dropout(0.2),
    tf.keras.layers.Dense(32, activation='relu'),
    tf.keras.layers.Dense(1)  # Output layer with linear activation for regression
])

# Compile the model
model.compile(optimizer='adam', loss='mean_squared_error')

# Train the model
history = model.fit(x_train, y_train, epochs=50, batch_size=32, validation_data=(x_test, y_test))

# Evaluate the model
loss = model.evaluate(x_test, y_test)
print(f'Mean Squared Error on test data: {loss}')

# Predictions
y_pred = model.predict(x_test)

from sklearn.metrics import mean_squared_error, r2_score

# Calculate evaluation metrics
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print("Mean Squared Error:", mse)
print("R-squared:", r2)

Epoch 1/50
328/328 ━━━━━━━━━━━━━━━━━━━━ 0s 461us/step - loss: 0.1733 - val_loss: 0.0322
Epoch 2/50
328/328 ━━━━━━━━━━━━━━━━━━━━ 0s 323us/step - loss: 0.0417 - val_loss: 0.0126
Epoch 3/50
328/328 ━━━━━━━━━━━━━━━━━━━━ 0s 321us/step - loss: 0.0223 - val_loss: 0.0060
Epoch 4/50
328/328 ━━━━━━━━━━━━━━━━━━━━ 0s 321us/step - loss: 0.0143 - val_loss: 0.0031
Epoch 5/50
328/328 ━━━━━━━━━━━━━━━━━━━━ 0s 323us/step - loss: 0.0100 - val_loss: 0.0028
Epoch 6/50
328/328 ━━━━━━━━━━━━━━━━━━━━ 0s 328us/step - loss: 0.0068 - val_loss: 0.0021
Epoch 7/50
328/328 ━━━━━━━━━━━━━━━━━━━━ 0s 323us/step - loss: 0.0053 - val_loss: 0.0026
Epoch 8/50
328/328 ━━━━━━━━━━━━━━━━━━━━ 0s 321us/step - loss: 0.0037 - val_loss: 0.0021
Epoch 9/50
328/328 ━━━━━━━━━━━━━━━━━━━━ 0s 321us/step - loss: 0.0030 - val_loss: 0.0024
Epoch 10/50
328/328 ━━━━━━━━━━━━━━━━━━━━ 0s 319us/step - loss: 0.0025 - val_loss: 0.0018
Epoch 11/50
328/328 ━━━━━━━━━━━━━━━━━━━━ 0s 316us/step - loss: 0.0018 - val_loss: 0.0018
Epoch 12/50
328/328 ━━━━━━━━━━━━━━━━━━━━ 0s 318us/step - loss: 0.0015 - val_loss: 0.0017
Epoch 13/50
328/328 ━━━━━━━━━━━━━━━━━━━━ 0s 318us/step - loss: 0.0011 - val_loss: 0.0013
Epoch 14/50
328/328 ━━━━━━━━━━━━━━━━━━━━ 0s 323us/step - loss: 0.0010 - val_loss: 0.0015
Epoch 15/50
328/328 ━━━━━━━━━━━━━━━━━━━━ 0s 326us/step - loss: 7.3317e-04 - val_loss: 0.0012
Epoch 16/50
328/328 ━━━━━━━━━━━━━━━━━━━━ 0s 318us/step - loss: 5.7011e-04 - val_loss: 7.6359e-04
Epoch 17/50
328/328 ━━━━━━━━━━━━━━━━━━━━ 0s 312us/step - loss: 4.4338e-04 - val_loss: 6.6674e-04
Epoch 18/50
328/328 ━━━━━━━━━━━━━━━━━━━━ 0s 317us/step - loss: 3.1690e-04 - val_loss: 7.9942e-04
Epoch 19/50
328/328 ━━━━━━━━━━━━━━━━━━━━ 0s 313us/step - loss: 2.5250e-04 - val_loss: 6.6159e-04
Epoch 20/50
328/328 ━━━━━━━━━━━━━━━━━━━━ 0s 317us/step - loss: 1.7190e-04 - val_loss: 5.7896e-04
Epoch 21/50
328/328 ━━━━━━━━━━━━━━━━━━━━ 0s 314us/step - loss: 1.4809e-04 - val_loss: 6.4557e-04
Epoch 22/50
328/328 ━━━━━━━━━━━━━━━━━━━━ 0s 316us/step - loss: 1.4091e-04 - val_loss: 5.4875e-04
Epoch 23/50
328/328 ━━━━━━━━━━━━━━━━━━━━ 0s 315us/step - loss: 1.1142e-04 - val_loss: 5.5678e-04
Epoch 24/50
328/328 ━━━━━━━━━━━━━━━━━━━━ 0s 412us/step - loss: 1.0593e-04 - val_loss: 4.6415e-04
Epoch 25/50
328/328 ━━━━━━━━━━━━━━━━━━━━ 0s 314us/step - loss: 1.1628e-04 - val_loss: 3.3728e-04
Epoch 26/50
328/328 ━━━━━━━━━━━━━━━━━━━━ 0s 316us/step - loss: 5.9672e-05 - val_loss: 3.3775e-04
Epoch 27/50
328/328 ━━━━━━━━━━━━━━━━━━━━ 0s 317us/step - loss: 4.8331e-05 - val_loss: 3.3842e-04
Epoch 28/50
328/328 ━━━━━━━━━━━━━━━━━━━━ 0s 311us/step - loss: 4.2050e-05 - val_loss: 2.6922e-04
Epoch 29/50
328/328 ━━━━━━━━━━━━━━━━━━━━ 0s 313us/step - loss: 4.1229e-05 - val_loss: 2.8468e-04
Epoch 30/50
328/328 ━━━━━━━━━━━━━━━━━━━━ 0s 313us/step - loss: 3.3732e-05 - val_loss: 2.5342e-04
Epoch 31/50
328/328 ━━━━━━━━━━━━━━━━━━━━ 0s 316us/step - loss: 3.4209e-05 - val_loss: 2.2266e-04
Epoch 32/50
328/328 ━━━━━━━━━━━━━━━━━━━━ 0s 314us/step - loss: 2.8215e-05 - val_loss: 1.7096e-04
Epoch 33/50
328/328 ━━━━━━━━━━━━━━━━━━━━ 0s 320us/step - loss: 1.7438e-05 - val_loss: 1.5157e-04
Epoch 34/50
328/328 ━━━━━━━━━━━━━━━━━━━━ 0s 315us/step - loss: 1.7826e-05 - val_loss: 1.2831e-04
Epoch 35/50
328/328 ━━━━━━━━━━━━━━━━━━━━ 0s 356us/step - loss: 1.6190e-05 - val_loss: 7.3427e-05
Epoch 36/50
328/328 ━━━━━━━━━━━━━━━━━━━━ 0s 316us/step - loss: 1.1961e-05 - val_loss: 8.4608e-05
Epoch 37/50
328/328 ━━━━━━━━━━━━━━━━━━━━ 0s 318us/step - loss: 1.1002e-05 - val_loss: 6.4833e-05
Epoch 38/50
328/328 ━━━━━━━━━━━━━━━━━━━━ 0s 315us/step - loss: 1.5184e-05 - val_loss: 7.7154e-05
Epoch 39/50
328/328 ━━━━━━━━━━━━━━━━━━━━ 0s 314us/step - loss: 5.6636e-06 - val_loss: 7.0025e-05
Epoch 40/50
328/328 ━━━━━━━━━━━━━━━━━━━━ 0s 313us/step - loss: 9.7011e-06 - val_loss: 6.6905e-05
Epoch 41/50
328/328 ━━━━━━━━━━━━━━━━━━━━ 0s 318us/step - loss: 8.6984e-06 - val_loss: 3.8594e-05
Epoch 42/50
328/328 ━━━━━━━━━━━━━━━━━━━━ 0s 320us/step - loss: 7.3157e-06 - val_loss: 3.9094e-05
Epoch 43/50
328/328 ━━━━━━━━━━━━━━━━━━━━ 0s 319us/step - loss: 6.0570e-06 - val_loss: 4.1361e-05
Epoch 44/50
328/328 ━━━━━━━━━━━━━━━━━━━━ 0s 318us/step - loss: 9.5148e-06 - val_loss: 5.3098e-05
Epoch 45/50
328/328 ━━━━━━━━━━━━━━━━━━━━ 0s 317us/step - loss: 6.1236e-06 - val_loss: 3.6854e-05
Epoch 46/50
328/328 ━━━━━━━━━━━━━━━━━━━━ 0s 316us/step - loss: 6.3154e-06 - val_loss: 4.0059e-05
Epoch 47/50
328/328 ━━━━━━━━━━━━━━━━━━━━ 0s 314us/step - loss: 2.7742e-05 - val_loss: 3.2590e-05
Epoch 48/50
328/328 ━━━━━━━━━━━━━━━━━━━━ 0s 318us/step - loss: 1.3572e-05 - val_loss: 2.9139e-05
Epoch 49/50
328/328 ━━━━━━━━━━━━━━━━━━━━ 0s 316us/step - loss: 3.6939e-06 - val_loss: 2.5117e-05
Epoch 50/50
328/328 ━━━━━━━━━━━━━━━━━━━━ 0s 320us/step - loss: 2.9332e-06 - val_loss: 2.9599e-05
63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 202us/step - loss: 2.9420e-05
Mean Squared Error on test data: 2.9598513719975017e-05
63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 399us/step
Mean Squared Error: 2.9598511479908703e-05
R-squared: 0.9997339310165299